@font-face {
    font-family: idroid;
    src: url(/fontes/idroid.otf);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: #90ffaa71;
}

header {
    background-image: linear-gradient(#4DF073, #09952a);
    color: white;
    padding: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.350);
    width: auto;
}

header > p {
    text-align: center;
    margin: auto;
    max-width: 45%;
    padding-bottom: 15px;
}

header > h1 {
    font-family: 'sans-serif';
    font-size: x-large;
    color: white;
    text-align: center;
    padding: auto;
    margin: 20px 10px 20px 10px;
}

nav > a {
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 1px 5px;
    margin: auto;
}

nav > a:hover {
    text-decoration: underline;
    color: yellowgreen;
}

main {
    margin: auto;
    background-color: white;
    width: 60%;
}

div.tela{
    padding: 0px 10px;
    align-items: center;
}

div > h1 {
    font-family: idroid;
    margin: 0px;
    padding: 10px 5px 5px 5px;
    font-family: idroid;
    font-size: 1.2em;
    color: #09952a;
}

p {
    font-size: small;
    text-indent: 1em;
}

.img {
    width: 100%;
}

.andoid {
    width: 45%;
    padding: 1px 1px 1px 100px;
}

.idroid {
    background-image: linear-gradient(-90deg, #D2F5D4, #8af7908c);
    margin: 0px;
    font-family: idroid;
    font-size: 1em;
    color: #09952a;
}

#video {
    background-image: linear-gradient(90deg, green, rgb(53, 134, 53));
}

#video > iframe {
    padding: 15px 20px 15px 20px;
    width: 90%;
}

#quadro {
    margin-top: 3%;
    margin-right: 5px;
    margin-bottom: 3%;
    margin-left: 5px;   
    padding: 5px 0px;
    width: 100%;
    background-color: #46b7615f;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.350);
    
}

h3 {
    margin: 0px;
    background-color: #039a26ab;
    padding: 0px;
    color: white;
    width: 100%;
    text-indent: 5px;
}

ul{
    font-size: smaller;
    width: 90%;
    padding: 5px 10px 20px 10px ;
}

footer {
    background-color: #09952a;
    text-align: center;
    color: white;
    height: 30px;
    border: 0px;
    margin: 0px;
}

footer > p {
    padding: 8px;
}