@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to left, #2A8C82, #41BFB3);
}

main {
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 15px;
    box-shadow: 5px 5px 15px #275950;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #275950;
    text-align: center;
    text-shadow: 1px 1px 2px #2a8c82a1;
}

h2 {
    color: #275950;
}

p {
    text-align: justify;
}